@font-face {
  font-family: 'Glober';
  src: url('../fonts/globerlight.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Glober';
  src: url('../fonts/globerregular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glober';
  src: url('../fonts/globersemibold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
