.block-letter {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  &__left {
    display: none;
  }
}



.block-authorization__footer {
  &--send {
    display: block;
    text-align: center;
  }
}

.forgot-your-password {
  &--send {
    border: none;
  }
}

@media(min-width: 1024px) {
  .block-letter {
    &__right {
      flex-grow: 2;
    }
    &__left {
      display: block;
      text-align: right;
      flex-grow: 1;
      margin-right: 10px;
    }
  }
}
