.block-main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media(min-width: 768px) {
  .block-main-header {
    flex-direction: row;

    &--appeal-detail {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      width: 100%;
    }

    &--create-appeal {
      flex-wrap: wrap;
    }
  }
}

@media(min-width: 1260px) {
  .block-main-header {
    &--appeal-detail {
      flex-basis: 30%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      padding-top: 42px;
    }
  }
}
