.block-help {
  margin-bottom: 159px;
}

.help-caption-text {
  margin: 0;
  padding-bottom: 5px;
  color: #222222;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
}

.help-specification-text {
  margin: 0;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
