.block-main-header {
  margin-top: 30px;
}

@media(min-width: 768px) {
  .block-main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 54px;
    width: 100%;
    align-items: center;
  }
}
