.block-qa {
  margin: 32px 0;
}

.table-header {
  display: none;
}

@media(min-width: 768px) {
  .table-header {
    display: flex;
    flex-direction: row;
    padding: 14px 20px;

    &__caption {
      display: block;
      flex-basis: 60%;

      font-weight: 600;
      font-size: 14px;
      line-height: 26px;
      color: #cecece;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &__id {
      display: block;
      flex-basis: 15%;

      font-weight: 600;
      font-size: 14px;
      line-height: 26px;
      color: #cecece;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &__edit {
      display: block;
      flex-basis: 25%;

      font-weight: 600;
      font-size: 14px;
      line-height: 26px;
      text-align: left;
      color: #cecece;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}
