.block-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  letter-spacing: 1.5px;

  &__from-whom {
    margin: 0;
    padding-bottom: 10px;

    font-weight: 600;
    font-size: 10px;
    color: #222222;
    text-transform: uppercase;
  }

  &__create {
    margin: 0;
    padding-bottom: 10px;

    font-weight: 600;
    font-size: 10px;
    color: #222222;
    text-transform: uppercase;
  }

  &__close {
    margin: 0;

    font-weight: 600;
    font-size: 10px;
    color: #222222;
    text-transform: uppercase;
  }
}

@media(min-width: 768px) {
  .block-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding-top: 15px;

    &__from-whom {
      padding-right: 15px;
    }

    &__create {
      padding-right: 15px;
    }
  }
}

@media(min-width: 1260px) {
  .block-info {

  }
}
