.btn {
  // line-height: 1;

  &--appeal {
    position: relative;

    display: inline-block;
    width: 100%;
    padding: 14px 0;

    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.8px;

    background-color: black;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;

      display: block;
      width: 20px;
      height: 20px;

      background-color: black;
      border-bottom-color: transparent;
      border-left-color: transparent;
      transform: translateY(100%);

      clip-path: polygon(100% 0, 0 0, 100% 66%);
    }
  }

  &--back-list {
    display: inline-block;
    width: 100%;
    padding: 14px 0;
    margin-bottom: 10px;

    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: #222222;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.8px;

    border: 1px solid #212121;
  }

  &--back {

    &__visuali-hidden {
      display: none;
    }

    display: inline-block;
    width: 100%;
    margin-bottom: 9px;
    padding: 14px 0;

    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: #222222;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.8px;

    border: 1px solid #212121;
  }

  &--black {
    padding: 0;
    padding: 14px 43px;

    font-weight: 600;
    font-size: 13px;
    font-family: "Glober";
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    cursor: pointer;

    background-color: #212121;
    border: none;
    border: 1px solid #212121;
  }

  &--open-appeal {
    display: inline-block;
    width: 100%;
    padding: 14px 0;

    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: #222222;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.8px;

    border: 1px solid #212121;
  }

  &--attached-file {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #cdcdcd;
    padding: 15px 0;
    text-align: left;
    font-size: 16px;
    color: #222222;
    font-weight: 400;
    text-align: center;
  }
}

@media(min-width: 768px) {
  .btn {
    max-width: 250px;

    &--back-list {
      margin-right: 10px;
      margin-bottom: 0;
    }

    &--back {
      margin-right: 10px;
    }

    &--black {
      margin-right: 21px;
    }

    &--attached-file {
      max-width: 438px;
    }
  }
}


@media(min-width: 1260px) {
  .btn {
    &--back-list {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
