.caption {
  margin: 0;
  padding-bottom: 30px;

  color: #222222;

  &--h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
  }

  &--h2 {
    margin: 0;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
  }
  &--auth {
    margin: 0;
    font-weight: 300;
    font-size: 30px;
    color: #ffffff;

    &__send {
      text-align: center;
    }
  }
}

@media(min-width: 768px) {
  .caption {
    padding: 0;

    &--h2 {
      padding-bottom: 5px;
    }
  }
}

@media(min-width: 1024px) {
  .caption {

    &--auth {
      margin: 0;

      font-weight: 300;
      font-size: 52px;
    }
  }
}

@media(min-width: 1260px) {
  .caption {

    &--h1 {
      font-size: 54px;
      font-weight: 400;
    }

    &--h2 {
      font-size: 27px;
      font-weight: 600;
    }
  }
}
