.block-input {
  display: block;
  padding-top: 10px;
}

.input {
  width: 100%;

  &--field-text {
    box-sizing: border-box;
    margin: 0;
    padding: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: "Glober";
    color: #222222;

    border: none;
    outline: none;
  }
}


@media(min-width: 1260px) {
  .block-input {
    width: 70%;
  }
}
