.page-body {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 20px;

  font-family: "Glober", sans-serif;

  background-color: #fafafa;

  &--authorization {
    background-color: #212121;
  }
}

@media(min-width: 768px) {
  .page-body {
    width: 100%;
  }
}

@media(min-width: 1024px) {
  .page-body {
    width: 100%;
    padding: 0 28px;
  }
}

@media(min-width: 1260px) {
  .page-body {
    width: 100%;
    padding: 0 90px;
  }
}

@media(min-width: 1920px) {
  .page-body {
    width: 100%;
    padding: 0 335px;
  }
}
